nav {
    background-color: #f0f0f0;
    border-radius: 15px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;   /* Removes the dots */
}

.right-nav {
    margin-left: auto;
}

nav img,
nav a {
    color: black;
    margin-right: 20px;
    text-decoration: none;
}

footer {
    background-color: #1f2a2e;
    color: white;
    text-align: center;
    padding: 15px 20px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    z-index: 1000;
}