nav {
    background-color: #f0f0f0;
    border-radius: 15px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;   /* Removes the dots */
}

.right-nav {
    margin-left: auto;
}

nav img,
nav a {
    color: black;
    margin-right: 20px;
    text-decoration: none;
}