body {

    font-family: Verdana;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

fieldset {
    background-color: rgb(238, 238, 238);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 10px;
}

legend {
    font-size: 20px;
    margin-bottom: 20px;
}

input {
    font-family: Verdana;
    padding: 12px;
    border-radius: 10px;
    border-width: 1px;
    width: 75%;
    background-color: rgb(248, 248, 248); 
}

.button-l {
    margin-top: 3%;
    padding: 12px;
    border-radius: 15px;
    width: 80%;
    background-color: rgb(27, 166, 221);
    color: rgb(255, 255, 255);
    border: none;
}